.container {
    padding: 10vh 10vw;
}




@media (max-width: 400px) {
    .container {
        min-width: 400px;
    }
}

@media (min-width: 660px) {
    .container {
        padding: 10vh 20vw;
    }

}

@media (min-width: 800px) {
    .container {
        padding: 10vh 30vw;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 10vh 35vw;
    }
}